.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  padding: 0.25rem .625rem;
  margin: 0.25rem 0 0.5rem 0;
  border: none;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px;
  border-radius: .25rem;
  background: transparent;
  resize: none;
  font-size: var(--font-size-150);
  line-height: var(--line-height-300);
}

.label {
  color: var(--text-light-200);
  font-size: var(--font-size-50);
  font-weight: var(--font-weight-medium);
}