.element {
  max-width: 100%;
  width: 100%;
  white-space: break-spaces;
  word-break: break-word;
  caret-color: rgba(255, 255, 255, 0.81);
  padding: 3px 2px;
  min-height: 1em;
  color: rgba(255, 255, 255, 0.81);
  -webkit-text-fill-color: rgba(255, 255, 255, 0.282);

  &:focus {
    outline: none;
  }

  &[contenteditable][data-css-is-empty='true']:after {
    content: attr(data-placeholder);
    -webkit-text-fill-color: rgb(52 52 52);
  }
}