.socialMedia {
  list-style: none;
  display: flex;
  margin: -6px;
  padding: 0;
  gap: 2px;
}

.link {
  height: auto;
  padding: 6px;
  color: var(--color-alpha-black-600);
  transition: background .15s;
}

.social-icon {
  fill: currentColor;
  flex-shrink: 0;
}

.instagram,
.facebook,
.youTube {
  @extend .social-icon;
  width: 18px;
  height: 18px;
}

.twitter {
  @extend .social-icon;
  width: 20px;
  height: 16px;
}

.linkedin {
  @extend .social-icon;
  width: 20px;
  height: 18px;
}