.wrapper {
  position: relative;
  right: 10%;
  pointer-events: auto;
  z-index: 10;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
  transform-origin: right 50%;
  right: 5px;
  top: 0;
  opacity: 1;
  transform: scaleX(1) scaleY(1);
  transition: opacity 200ms ease, transform 200ms ease;
}

.dialog {
  border-radius: 10px;
  background: #252525;
  position: relative;
  max-width: calc(100vw - 24px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 14px 28px -6px,
    rgba(0, 0, 0, 0.12) 0px 2px 4px -1px,
    rgba(255, 255, 255, 0.094) 0px 0px 0px 1px;
  overflow: hidden;
  width: 265px;
}

.dialogContent {
  display: flex;
  flex-direction: column;
  width: 265px;
  min-width: 180px;
  max-width: calc(100vw - 24px);
  max-height: 70vh;
  height: 100%;
}

.header {
  flex-shrink: 0;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  padding: 8px 4px 4px;
  gap: 1px;
}

.searchBox {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  border-radius: 6px;
  box-shadow: rgba(255, 255, 255, 0.075) 0px 0px 0px 1px;
  background: rgba(255, 255, 255, 0.055);
  cursor: text;
  padding: 3px 6px;
  height: 28px;
  width: 100%;
}

.input {
  font-size: inherit;
  line-height: inherit;
  border: none;
  background: none;
  width: 100%;
  display: block;
  resize: none;
  padding: 0;
  color: white;
}

.scroller {
  z-index: 1;
  flex-grow: 1;
  overflow: auto;
  transform: translateZ(0);
  margin: 0;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.listboxHeader {
  font-size: 12px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.46);
  margin: 6px 8px 8px;
  user-select: none;
}

.listbox {
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.option,
.optionActive {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 120%;
  min-height: 28px;
  padding: 0 8px;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  color: white;
}

.option:hover {
  background: rgba(255, 255, 255, 0.1);
}

.optionActive {
  background: rgba(255, 255, 255, 0.055);
}

.footer {
  padding: 8px 4px;
  border-top: 1px solid rgba(255, 255, 255, 0.094);
  font-size: 12px;
  color: rgba(255, 255, 255, 0.282);
}

.editedBy {
  margin-bottom: 4px;
  line-height: 16px;
}

.timestamp {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
}