@use '../../../../styles/variables';

.pageLink {
	transition: all 200ms ease-in;

	&[data-css-is-active='true'], &:hover {
		background: variables.$faded-white-800;
		color: variables.$faded-white;
	}
}

.pageLinkContent {}

%button {
	width: 1.5rem;
	height: 1.5rem;

	svg {
		fill: variables.$faded-white-400;
	}
}

.expandBtn {
	@extend %button;

	&[aria-expanded='true'] svg {
		transform: rotateZ(0deg);
	}

	svg {
		width: 1rem;
		height: 1rem;
		transition: transform 200ms ease-out;
		transform: rotateZ(-90deg);
	}
}

.pageBtn {
	@extend %button;

	svg {
		width: 22px;
		height: 22px;
	}
}

.pageNameWrapper {}

.pageName {
	color: variables.$gray;
	font-weight: 500;
}

.pageActions {}

.addNewPageInExistingBtn {
	@extend %button;
}

.moreBtn {
	@extend %button;

	svg {
		width: 1.5rem;
	}
}