@use '../../../../styles/mixins';
@use '../../../../styles/variables';
@use '../../mixins' as navigation-mixins;

.pageLink {
	display: block;
	width: 100%;
	transition: all 200ms ease-in;
	@include navigation-mixins.navigation-element;

	&[data-css-is-active='true'] {
		background: variables.$faded-white-800;
		color: variables.$faded-white;
	}
}

.pageLinkContent {
	@include mixins.flex(flex-start, center);
	column-gap: 0.5rem;
}

@mixin button {
	@include navigation-mixins.action-button;
	@include mixins.flex(center, center);
	width: 25px;
	height: 25px;

	svg {
		fill: variables.$faded-white-600;
	}
}

.expandBtn {
	@include button;

	&[aria-expanded='true'] svg {
		transform: rotateZ(0deg);
	}

	svg {
		width: 16px;
		height: 16px;
		transition: transform 200ms ease-out;
		transform: rotateZ(-90deg);
	}
}

.pageBtn {
	@include button;

	svg {
		width: 22px;
		height: 22px;
	}
}

.pageNameWrapper {
	@include mixins.flex(flex-start, center);
	flex-grow: 1;
	@include mixins.truncate;
}

.pageName {
	@include mixins.truncate;
	color: variables.$gray;
	font-weight: 500;
}

.pageActions {
	@include mixins.flex(flex-start, center);
	flex-shrink: 0;
	column-gap: 0.5rem;
}

.addNewPageInExistingBtn {
	@include button;

	svg {
		@include navigation-mixins.plus-svg;
	}
}

.moreBtn {
	@include button;

	svg {
		width: 24px;
	}
}
