.footer::before {
  content: "";
  display: block;
  border-top: 1px solid var(--color-alpha-black-200);
  margin: 0 16px;
}

.footerNav {
  --footer-gutter: 16px;
  position: relative;
  flex-direction: column;
  gap: 36px;
  max-width: calc(1252px + 2 * var(--footer-gutter));
  margin: 0 auto;
  padding: 40px var(--footer-gutter);

  @media screen and (min-width: 400px) {
    --footer-gutter: 32px;
  }

  @media (min-width: 600px) {
    --footer-gutter: 66px;
    padding: 80px var(--footer-gutter);
  }

  @media screen and (min-width: 840px) {
    --footer-gutter: 125px;
  }

  @media (min-width: 1080px) {
    flex-direction: row;
    gap: 24px;
  }
}

.footerLinksWrapper {
  flex: 1 0 auto;
}

.footerLinks {
  display: grid;
  grid-template-columns: repeat(2, minmax(10px, 1fr));
  gap: 24px;
}

.listItem {
  display: block;
  margin-top: .4rem;
  color: var(--color-gray-800);
  text-align: left;
  line-height: 1.35rem;
  word-wrap: break-word;
  cursor: pointer;

  &--special {
    margin-top: auto;
  }
}

.link {
  display: inline;
  border-radius: 0.3125rem;
  color: inherit;
  text-underline-offset: .1rem;
  font: var(--font-weight-regular) var(--font-size-150) / var(--line-height-150) var(--font-family-sans);
  letter-spacing: var(--letter-spacing-150);

  &--special {
    font-weight: var(--font-weight-bold);
  }
}