.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  min-height: 36px;
  padding: .25rem .875rem;
  border: 1px solid #00000026;
  background: var(--color-gray-200);
  word-break: break-word;
  white-space: pre-line;
  color: var(--color-gray-900);
  font: var(--font-weight-medium) var(--font-size-200) / var(--line-height-200) var(--font-family-sans);
  letter-spacing: var(--letter-spacing-200);
}

.svg {
  width: 8px;
  height: 100%;
  fill: var(--color-icon);
  flex-shrink: 0
}