@use '../../styles/mixins';
@use '../../styles/variables';

.button {
	position: relative;
	@include mixins.flex(center, center);
	padding: 0.25rem;
	@include mixins.empty-button;
	transition: 200ms;
}

@mixin svg {
	fill: variables.$faded-white;
}

.chevronSvg {
	@include svg;
	transform: rotate(180deg);
	width: 22px;
	height: 22px;
}

.svg {
	@include svg;
	width: 18px;
	height: 18px;
}
