@use '../../styles/variables';

.button {
	position: relative;
}

@mixin svg {
	fill: variables.$faded-white;
}

.chevronSvg {
	@include svg;
	transform: rotate(180deg);
	width: 1.4rem;
	height: 1.4rem;
}

.svg {
	@include svg;
	width: 1.125rem;
	height: 1.125rem;
}