.pageLink {
	&[data-css-is-active='true'], &:hover {
		background: var(--faded-white-900);
		color: var(--faded-white-100);
	}
}

%button {
	width: 1.5rem;
	height: 1.5rem;

	svg {
		fill: var(--faded-white-400);
	}
}

.expandBtn {
	&[aria-expanded='true'] svg {
		transform: rotateZ(0deg);
	}

	svg {
		width: 1rem;
		height: 1rem;
		transition: transform 200ms ease-out;
		transform: rotateZ(-90deg);
	}
}

.pageBtn {
	svg {
		width: 22px;
		height: 22px;
	}
}


.pageName {
	color: var(--gray-500);
	font-weight: 500;
}

.moreBtn {
	svg {
		width: 1.5rem;
	}
}

.noPagesContainer {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 27px;
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-inline: 8px;
	padding-left: 16px;
	font-size: var(--font-size-100);
}

.noPagesContent {
	flex: 1 1 auto;
}

.noPagesText {
	color: var(--faded-white-400);
	font-weight: var(--font-weight-medium);
	padding-left: 16px;
}