@use '../../../../styles/breakpoints';

.navigationWrapper {
  z-index: var(--z-index-mobile-nav);
  inset: 0;
  position: sticky;
  transition: transform 350ms ease;

  &[data-css-is-open='true'] {
    position: fixed;
    max-height: 100vh;

    @supports (max-height: 100dvh) {
      max-height: 100dvh;
    }
  }
}

.nav {
  position: relative;
}

.container {
  z-index: 100;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-page);

  @media (min-width: breakpoints.$desktop) {
    grid-template-columns: 1fr auto 1fr;
  }
}

.rightContainer {
  grid-column: 3;
  justify-self: end;
}

.logInLink {
  display: none;

  @media all and (min-width: breakpoints.$tablet) {
    display: block;
  }
}

@media all and (min-width: breakpoints.$desktop) {
  .container {
    padding: 1rem 1.75rem;
  }
}