.mainContent {
	display: grid;
	grid-template-columns: 10vw 1fr 10vw;
	min-height: calc(100vh - var(--header-height));
	cursor: text;
}

.contentColumn {
	grid-column: 2 / 3;
}

.loader {
	margin-top: 1rem;
	width: 20rem;
	height: 2.4rem;
}