.link {
  min-height: 20px;

  &:hover {
    background: var(--faded-white-900);
  }

  &:active, &:focus {
    box-shadow: var(--black-850) 0px 0px 0px 2px, rgb(35, 131, 226) 0px 0px 0px 4px, var(--black-850) 0px 0px 0px 6px;
  }

  &:active, &:focus {
    outline: none;
  }
}