@use './variables';

@mixin flex-center {
	@include flex(center, center);
}

@mixin flex-align-center {
	@include flex(flex-start, center);
}

@mixin flex-column {
	@include flex(flex-start, flex-start, column);
}

@mixin flex($justify: flex-start, $align: stretch, $direction: row) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
	flex-direction: $direction;
}

@mixin empty-button {
	background: none;
	border: none;
}

@mixin truncate {
	white-space: nowrap;
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin hover-element {
	padding: 0.25rem;
	border-radius: 0.5rem;
	@include empty-button;
	transition: background 200ms;

	&:hover {
		background-color: variables.$faded-white-800;
	}
}
