@use './utils/utils';

:root {
	--font-family-sans: NotionInter, Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
	--font-family-serif: "Lyon Text", Georgia, YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Songti TC", "Songti SC", SimSun, "Nanum Myeongjo", NanumMyeongjo, Batang, serif;
	--font-family-serif-japanese: "Lyon Text", Georgia, YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
	--font-family-serif-chinese-simplified: "Lyon Text", Georgia, "Songti TC", SimSun, serif;
	--font-family-serif-chinese-traditional: "Lyon Text", Georgia, "Songti SC", SimSun, serif;
	--font-family-handwriting: "Permanent Marker", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
	--font-family-mono: "iA Writer Mono", Nitti, Menlo, Courier, monospace;
	--font-family-emoji: "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols;

	--shadow-bottom: 0 1px 2px #0001, 0 2px 4px #0002, 0 4px 8px #0003;
	--shadow-100: 0px 3px 9px #00000008, 0px 0.7px 1.4625px rgba(0, 0, 0, .015);
	--shadow-200: 0px 4px 18px #0000000a, 0px 2.025px 7.84688px rgba(0, 0, 0, .027), 0px 0.8px 2.925px #00000005, 0px 0.175px 1.04062px rgba(0, 0, 0, .013);
	--shadow-300: 0px 36px 89px #0000000a, 0px 23.3333px 52.1227px #00000008, 0px 13.8667px 28.3481px rgba(0, 0, 0, .024), 0px 7.2px 14.4625px #00000005, 0px 2.93333px 7.25185px rgba(0, 0, 0, .016), 0px 0.666667px 3.50231px #00000003;
	--shadow-filter: 0 4px 18px #0000004d;

	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	--font-size-50: 0.75rem; // 12px
	--font-size-100: 0.875rem; // 14px
	--font-size-150: 0.9375rem; // 15px
	--font-size-200: 1rem; // 16px
	--font-size-300: 1.125rem; // 18px
	--font-size-350: 1.25rem; // 20px
	--font-size-400: 1.375rem; // 22px
	--font-size-500: 1.625rem; // 26px
	--font-size-600: 2rem; // 32px
	--font-size-700: 2.625rem; // 42px
	--font-size-800: 3.375rem; // 54px
	--font-size-900: 4rem; // 64px
	--font-size-1000: 4.75rem; // 76px

	--letter-spacing-50: 0.0078125rem;
	--letter-spacing-100: 0.0078125rem;
	--letter-spacing-150: 0;
	--letter-spacing-200: 0;
	--letter-spacing-400: -0.015625rem;
	--letter-spacing-500: -0.0390625rem;
	--letter-spacing-700: -0.09375rem;
	--letter-spacing-800: -0.1171875rem;
	--letter-spacing-900: -0.1328125rem;

	--line-height-50: 1rem;
	--line-height-100: 1.25rem;
	--line-height-150: 1.25rem;
	--line-height-200: 1.5rem;
	--line-height-300: 1.625rem;
	--line-height-400: 1.75rem;
	--line-height-500: 2rem;
	--line-height-700: 3rem;
	--line-height-800: 3.5rem;
	--line-height-900: 4rem;

	--border-radius-sm: 0.25rem;
	--border-radius-regular: 0.5rem;

	--header-height: 3rem;

	--content-width: minmax(auto, 708px);
	--margin-width: minmax(96px, 1fr);

	--black-700: rgb(37, 37, 37);
	--black-700-faded: rgba(37, 37, 37, 0.8);
	--black-800: rgb(33, 32, 32);
	--black-850: rgb(25, 25, 25);

	--faded-black-800: rgba(0, 0, 0, 0.2);
	--faded-black-900: rgba(0, 0, 0, 0.12);

	--faded-white-100: rgba(255, 255, 255, 0.81);
	--faded-white-200: rgba(255, 255, 255, 0.443);
	--faded-white-400: rgba(255, 255, 255, 0.282);
	--faded-white-500: rgba(255, 255, 255, 0.13);
	--faded-white-850: rgba(255, 255, 255, 0.094);
	--faded-white-900: rgba(255, 255, 255, 0.055);

	--gray-300: rgb(222, 222, 222);
	--gray-500: rgb(155, 155, 155);
	--gray-700: rgb(63 63 63);

	--color-red-300: #dc5757;
	--color-red-500: #DC2626;

	--white-100: rgb(255, 255, 255);
	--white-100-faded: rgba(255, 255, 255, 0.764);
	--white-300: rgb(237, 237, 237);

	--background: var(--white-300);
	--accent-background: var(--black-850);
	--foreground: var(--black-850);
	--accent-foreground: var(--white-300);
	--button-hover: var(--faded-white-900);
}

// @media (prefers-color-scheme: dark) {
// 	:root {
// 		--background: var(--black-850);
// 		--accent-background: var(--white-300);
// 		--foreground: var(--white-300);
// 		--accent-foreground: var(--black-850);
// 		--button-hover: var(--white-300);
// 	}
// }

.dark {
	--background: var(--black-850);
	--accent-background: var(--white-300);
	--foreground: var(--white-300);
	--accent-foreground: var(--black-850);
	--button-hover: var(--faded-white-900);
}

html {
	scroll-behavior: smooth;
	text-size-adjust: none;
	color-scheme: dark light;
}

body {
	min-height: 100vh;
	font-family: var(--font-family-sans);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
	color: var(--foreground);
	font-size: var(--font-size-200);
	background-color: var(--background);
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

a {
	text-decoration: none;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
	text-wrap: balance;
}

ul, ol {
	list-style: none;
}

button, a {
	cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
	*, *::before, *::after {
		animation-duration: 0.01ms;
		animation-iteration-count: 1;
		transition-duration: 0.01ms;
		scroll-behavior: auto;
	}
}