:root {
  --color-blue-500: #2383e2;

  --color-gray-100: #fcfbfb;
  --color-gray-200: #f6f5f4;
  --color-gray-300: #dfdcd9;
  --color-gray-400: #a39e98;
  --color-gray-500: #78736f;
  --color-gray-600: #615d59;
  --color-gray-700: #494744;
  --color-gray-800: #31302e;
  --color-gray-900: #191918;

  --color-alpha-black-100: #0000000d;
  --color-alpha-black-200: #0000001a;
  --color-alpha-black-300: #0003;
  --color-alpha-black-400: #0000004d;
  --color-alpha-black-500: #00000080;
  --color-alpha-black-600: #000000a8;
  --color-alpha-black-700: #000000bf;
  --color-alpha-black-800: #000000e6;
  --color-alpha-black-900: #000000f2;

  --color-alpha-white-100: #ffffff0d;
  --color-alpha-white-200: #ffffff1a;
  --color-alpha-white-300: #fff3;
  --color-alpha-white-400: #ffffff4d;
  --color-alpha-white-500: #ffffff80;
  --color-alpha-white-600: #ffffffa8;
  --color-alpha-white-700: #ffffffbf;
  --color-alpha-white-800: #ffffffd9;
  --color-alpha-white-900: #fffffff2;

  --color-text-primary: var(--color-gray-900);
  --color-text-secondary: var(--color-white);
  --color-page: var(--color-white);
  --color-border: var(--color-alpha-black-200);

  --z-index-header: 100;
  --z-index-banner: 90;
  --z-index-mobile-nav: 200;
  --z-index-popup: 500;
}

:root {
  --typography-sans-50-regular-letter-spacing: 0.0078125rem;
  --typography-sans-50-medium-letter-spacing: 0.0078125rem;
  --typography-sans-50-semibold-letter-spacing: 0.0078125rem;
  --typography-sans-50-bold-letter-spacing: 0.0078125rem;
  --typography-sans-100-regular-letter-spacing: 0.0078125rem;
  --typography-sans-100-medium-letter-spacing: 0.0078125rem;
  --typography-sans-100-semibold-letter-spacing: 0.0078125rem;
  --typography-sans-100-bold-letter-spacing: 0.0078125rem;
  --typography-sans-150-regular-letter-spacing: 0;
  --typography-sans-150-medium-letter-spacing: 0;
  --typography-sans-150-semibold-letter-spacing: 0;
  --typography-sans-150-bold-letter-spacing: 0;
  --typography-sans-200-regular-letter-spacing: 0;
  --typography-sans-200-medium-letter-spacing: 0;
  --typography-sans-200-semibold-letter-spacing: 0;
  --typography-sans-200-bold-letter-spacing: 0;
  --typography-sans-300-regular-letter-spacing: -0.0078125rem;
  --typography-sans-300-medium-letter-spacing: -0.0078125rem;
  --typography-sans-300-semibold-letter-spacing: -0.0078125rem;
  --typography-sans-300-bold-letter-spacing: -0.0078125rem;
  --typography-sans-350-regular-letter-spacing: -0.0078125rem;
  --typography-sans-350-medium-letter-spacing: -0.0078125rem;
  --typography-sans-350-semibold-letter-spacing: -0.0078125rem;
  --typography-sans-350-bold-letter-spacing: -0.0078125rem;
  --typography-sans-400-regular-letter-spacing: -0.015625rem;
  --typography-sans-400-medium-letter-spacing: -0.015625rem;
  --typography-sans-400-semibold-letter-spacing: -0.015625rem;
  --typography-sans-400-bold-letter-spacing: -0.015625rem;
  --typography-sans-500-medium-letter-spacing: -0.0390625rem;
  --typography-sans-500-semibold-letter-spacing: -0.0390625rem;
  --typography-sans-500-bold-letter-spacing: -0.0390625rem;
  --typography-sans-600-regular-letter-spacing: -0.0625rem;
  --typography-sans-600-semibold-letter-spacing: -0.046875rem;
  --typography-sans-600-bold-letter-spacing: -0.046875rem;
  --typography-sans-700-regular-letter-spacing: -0.125rem;
  --typography-sans-700-semibold-letter-spacing: -0.09375rem;
  --typography-sans-700-bold-letter-spacing: -0.09375rem;
  --typography-sans-800-regular-letter-spacing: -0.21875rem;
  --typography-sans-800-semibold-letter-spacing: -0.1171875rem;
  --typography-sans-800-bold-letter-spacing: -0.1171875rem;
  --typography-sans-900-regular-letter-spacing: -0.171875rem;
  --typography-sans-900-semibold-letter-spacing: -0.1328125rem;
  --typography-sans-900-bold-letter-spacing: -0.1328125rem;
  --typography-sans-1000-regular-letter-spacing: -0.25rem;
  --typography-sans-1000-bold-letter-spacing: -0.15625rem;
  --typography-serif-200-regular-letter-spacing: 0;
  --typography-serif-300-regular-letter-spacing: 0;
  --typography-serif-350-regular-letter-spacing: 0;
  --typography-serif-400-regular-letter-spacing: 0;
  --typography-serif-500-regular-letter-spacing: 0;
  --typography-serif-600-regular-letter-spacing: 0;
  --typography-serif-700-regular-letter-spacing: -0.09375rem;
  --typography-serif-800-regular-letter-spacing: -0.125rem;
  --typography-serif-900-regular-letter-spacing: -0.125rem;
}