.navigationWrapper {
	position: relative;
	transition: width 350ms;
}

.navigation {
	position: absolute;
	top: 4rem;
	right: 0;
	height: 80vh;

	&[data-css-is-open='true'][data-css-is-locked='false'] {
		right: -100%;
	}

	&[data-css-is-locked='true'][data-css-is-open='true'] {
		height: 100vh;
		top: 0;
	}
}