.wrapper {
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
}

.container {
  width: 100vw;
  height: 100%;
}

.header {
  padding-top: 1.25rem;
}

.title {
  font-size: var(--font-size-200);
  font-weight: var(--font-weight-medium);
}

.main {
  text-align: center;
}

.messagePrimary {
  max-width: 340px;
  font-size: var(--font-size-200);
  font-weight: var(--font-weight-semibold);
}

.messageSecondary {
  max-width: 340px;
  font-size: var(--font-size-100);
  color: var(--gray-700);
}

:global(.dark) .messageSecondary {
  color: var(--faded-white-200);
}

.backButton {
  height: 2rem;
  margin-top: 1rem;
  font-size: var(--font-size-100);
  font-weight: var(--font-weight-medium);
  line-height: 1.2;
  background: var(--black-700);
  border: 1px solid var(--faded-white-500);
  color: var(--accent-foreground);

  &:hover {
    background: var(--black-700-faded);
  }
}

:global(.dark) .backButton {
  color: var(--foreground);

  &:hover {
    background: var(--faded-white-500);
  }
}

.footer {
  padding: 3rem 0;
}

.userInfo {
  color: var(--faded-white-200);
  font-size: var(--font-size-100);
  line-height: 20px;
}

.loggedInText {
  white-space: nowrap;
}

.email {
  color: var(--faded-white-100);
}