@use '../../styles/variables';

.header {
	height: 3rem;
	box-shadow: variables.$faded-white-700 0px 0.25px 0px;
	background: var(--main-bg-color);
	transition: box-shadow 300ms;
}

.svg {
	width: 1.25rem;
	fill: variables.$faded-white;
}