@use '../../styles/mixins';
@use '../../styles/variables.scss';

@mixin navigation-element {
	width: 100%;
	min-height: 40px;
	padding: 0.5rem 0.75rem;
	font-size: 1rem;
	cursor: pointer;
}

// NavigationHead <nav />
.navigation {
	z-index: 3;
	position: fixed;
	top: 0px;
	right: 100%;
	@include mixins.flex(flex-start, stretch, column);
	row-gap: 1rem;
	width: 320px;
	height: 100vh;
	background-color: variables.$black-32;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 14px 28px -6px, rgba(0, 0, 0, 0.12) 0px 2px 4px -1px,
		rgba(255, 255, 255, 0.094) 0px 0px 0px 1px;
	transition: transform 200ms;

	&[data-css-is-open='true'] {
		box-shadow: none;
	}
}

.mainContentContainer,
.pages {
	@include mixins.flex(flex-start, stretch, column);
	row-gap: 0.5rem;
}

.pageContainer {
}

.pageLink {
	display: block;
	width: 100%;
	cursor: pointer;
}

.pageLinkContent {
	@include mixins.flex(flex-start, center);
	column-gap: 0.5rem;
	@include navigation-element;
}

.expandBtn {
	@include mixins.flex(center, center);
	flex: 0 0 auto;
	@include mixins.empty-button;

	svg {
		width: 16px;
		height: 16px;
		fill: variables.$faded-white-600;
		transition: transform 200ms ease-out;
		transform: rotateZ(-90deg);
	}
}

.pageIcon {
	@include mixins.flex(center, center);
	flex: 0 0 auto;

	svg {
		width: 20px;
		height: 20px;
		fill: variables.$faded-white-600;
	}
}

.pageNameWrapper {
	@include mixins.flex(flex-start, center);
	flex: 1 1 auto;
	@include mixins.truncate;
}

.pageName {
	@include mixins.truncate;
	color: variables.$gray;
	font-weight: 500;
}

.pageActions {
	@include mixins.flex(flex-start, center);
	flex: 0 0 auto;
	column-gap: 0.5rem;
}

.addNewPageInExistingBtn {
	@include mixins.flex(center, center);
	padding: 0.25rem;
	@include mixins.empty-button;
}

.moreBtn svg {
	fill: variables.$faded-white-600;
}

.homeLink {
	@include mixins.flex(flex-start, center);
	@include navigation-element;
	font-weight: 500;
	color: variables.$gray;
	box-shadow: rgba(255, 255, 255, 0.055) 0px 1px 0px;
	transition: background 20ms ease-in;

	&[data-css-is-active='true'] {
		background: rgba(255, 255, 255, 0.055);
		color: variables.$faded-white;
	}
}

.newPageBtn {
	@include mixins.flex(flex-start, center);
	column-gap: 0.5rem;
	@include navigation-element;
	@include mixins.empty-button;
	color: variables.$gray;

	span {
		flex: 1 1 auto;
		display: block;
		text-align: left;
		@include mixins.truncate;
	}
}

.plusSvg {
	width: 18px;
	height: 18px;
	flex: 0 0 auto;
	fill: variables.$faded-white-600;
}
