@use '../../../../../styles/mixins';
@use '../../../../../styles/variables.scss';
@use '../../../mixins' as navigation-mixins;

.navigationWrapper {
	position: relative;
	transition: width 350ms;
}

.navigation {
	position: absolute;
	top: 4rem;
	height: 80vh;
	right: 0;
	@include navigation-mixins.navigation;

	&[data-css-is-open='true'][data-css-is-locked='false'] {
		right: -100%;
	}

	&[data-css-is-locked='true'][data-css-is-open='true'] {
		height: 100vh;
		top: 0;
	}
}
