@use '../../styles/variables';

.navigation {
	z-index: 3;
	border-top-right-radius: 0.75rem;
	border-bottom-right-radius: 0.75rem;
	background-color: variables.$black-32;
	box-shadow: variables.$faded-black-200 0px 14px 28px -6px, variables.$faded-black-100 0px 2px 4px -1px,
		variables.$faded-white-700 0px 0px 0px 1px;
	transition: all 350ms;
	visibility: hidden;

	&[data-css-is-open='true'] {
		box-shadow: none;
		visibility: visible;
	}
}

.nav-element {
	width: 100%;
	min-height: 40px;
	padding: 0.5rem 0.75rem;
	border-radius: 0.25rem;
	font-size: 1rem;
	cursor: pointer;

	@media all and (min-width: variables.$breakpoint-tablet) {
		padding: 0.25rem 0.25rem;
		min-height: 30px;
		font-size: 0.9rem;
	}
}

.plus-svg {
	width: 1.125rem;
	height: 1.125rem;
	fill: variables.$faded-white-400;
}