.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-x-050 {
  column-gap: 0.5rem;
}

.gap-y-050 {
  row-gap: 0.5rem;
}

.gap-025 {
  gap: 0.25rem;
}

.gap-050 {
  gap: 0.5rem;
}

.gap-075 {
  gap: 0.75rem;
}

.gap-1 {
  gap: 1rem;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.button-empty {
  background: none;
  border: none;
}

.truncate {
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.flex-wrap {
  flex-wrap: wrap;
}

.rounded-sm {
  border-radius: var(--border-radius-sm);
}

.rounded {
  border-radius: var(--border-radius-regular);
}

.bg-hover:hover {
  background-color: var(--button-hover);
}

.bg-transition {
  transition: background 200ms;
}

.px-025 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-025 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-025 {
  padding: 0.25rem;
}

.px-050 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.p-050 {
  padding: 0.5rem;
}

.p-y-050 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-y-075 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p-x-075 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.p-1 {
  padding: 1rem;
}

.p-x-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-y-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-y-150 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.primaryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0.25rem;
  border: none;
  background: none;
  transition: background 200ms;

  &:hover {
    background-color: var(--button-hover);
  }
}

.button-disabled {
  cursor: not-allowed;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.editorElement {
  flex-grow: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 21px;
  padding: 3px 2px;
  padding-left: 0.2rem;
  border-radius: 4px;
  word-break: break-word;
  user-select: none;
  color: inherit;
  font-weight: var(--font-weight-semibold);

  &:focus {
    outline: none;
  }

  &[contenteditable][data-css-is-empty='true']:after {
    content: attr(data-placeholder);
    -webkit-text-fill-color: rgb(52 52 52);
  }
}