.block {
  display: block;
}

%flex {
  display: flex;
}

.flex {
  @extend %flex;
}

.flex-center {
  @extend %flex;
  justify-content: center;
  align-items: center;
}

.flex-align-center {
  @extend %flex;
  align-items: center;
}

.flex-column {
  @extend %flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-x-050 {
  column-gap: 0.5rem;
}

.gap-y-050 {
  row-gap: 0.5rem;
}

.gap-025 {
  gap: 0.25rem;
}

.gap-050 {
  gap: 0.5rem;
}

.gap-075 {
  gap: 0.75rem;
}

.gap-1 {
  gap: 1rem;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.button-empty {
  background: none;
  border: none;
}

.truncate {
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.flex-wrap {
  flex-wrap: wrap;
}

.rounded-sm {
  border-radius: var(--border-radius-sm);
}

.rounded {
  border-radius: var(--border-radius-regular);
}

.bg-hover:hover {
  background-color: var(--button-hover);
}

.bg-transition {
  transition: background 200ms;
}

.p-x-025 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.p-y-025 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-025 {
  padding: 0.25rem;
}

.p-x-050 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.p-050 {
  padding: 0.5rem;
}

.p-y-050 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-y-075 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p-x-075 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.p-1 {
  padding: 1rem;
}

.p-x-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-y-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-y-150 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.fill-dark {
  fill: var(--icon-fill-dark);
}

.fill-white {
  fill: var(--icon-fill-light);
}

.font-400 {
  font-weight: var(--font-weight-bold);
}

.font-500 {
  font-weight: var(--font-weight-medium);
}

.font-600 {
  font-weight: var(--font-weight-semibold);
}

.font-700 {
  font-weight: var(--font-weight-bold);
}

.text-light {
  color: var(--text-light);
}

.text-dark {
  color: var(--text-dark);
}

.text-color-primary {
  color: var(--color-text-primary);
}

.text-color-secondary {
  color: var(--color-text-secondary);
}

.shadow-100 {
  box-shadow: var(--shadow-100);
}

.shimmerLoader {
  border-radius: 0.25rem;
  background-image: linear-gradient(to right,
      #1a1a1a 0%,
      #2a2a2a 40%,
      #444 50%,
      #2a2a2a 60%,
      #1a1a1a 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  animation: shimmer 1.5s linear infinite forwards;
}

.primaryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0.25rem;
  border: none;
  background: none;
  transition: background 200ms;

  &:hover {
    background-color: var(--button-hover);
  }
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.button-disabled {
  cursor: not-allowed;
}

// 0.5rem = 8px
// 0.75rem = 12px
// 0.875rem = 14px
// 1rem = 16px
// 1.125rem = 18px
// 1.375rem = 22px
// 1.5rem = 24px
// 1.75rem = 28px