:root {
  --color-blue-500: #2383e2;
  --color-blue-550: #087fe7;
  --color-blue-600: #0075d3;
  --color-blue-800: #d6e1f5;
  --color-blue-900: #ebf5fe;

  --color-gray-100: #fcfbfb;
  --color-gray-200: #f6f5f4;
  --color-gray-300: #dfdcd9;
  --color-gray-400: #a39e98;
  --color-gray-500: #78736f;
  --color-gray-600: #615d59;
  --color-gray-700: #494744;
  --color-gray-800: #31302e;
  --color-gray-900: #191918;

  --color-alpha-black-100: #0000000d;
  --color-alpha-black-200: #0000001a;
  --color-alpha-black-300: #0003;
  --color-alpha-black-400: #0000004d;
  --color-alpha-black-500: #00000080;
  --color-alpha-black-600: #000000a8;
  --color-alpha-black-700: #000000bf;
  --color-alpha-black-800: #000000e6;
  --color-alpha-black-900: #000000f2;

  --color-alpha-white-100: #ffffff0d;
  --color-alpha-white-200: #ffffff1a;
  --color-alpha-white-300: #fff3;
  --color-alpha-white-400: #ffffff4d;
  --color-alpha-white-500: #ffffff80;
  --color-alpha-white-600: #ffffffa8;
  --color-alpha-white-700: #ffffffbf;
  --color-alpha-white-800: #ffffffd9;
  --color-alpha-white-900: #fffffff2;

  --color-page: var(--color-white);

  --color-text-primary: var(--color-gray-900);
  --color-text-secondary: var(--color-white);

  --text-light: var(--color-white);
  --text-dark: var(--color-gray-900);

  --color-border: var(--color-alpha-black-200);

  --button-hover: var(--color-alpha-white-900);

  --icon-fill-dark: var(--color-black);
  --icon-fill-light: var(--white-800);

  --z-index-header: 100;
  --z-index-banner: 90;
  --z-index-mobile-nav: 200;
  --z-index-popup: 500;

  --letter-spacing: 0.0078125rem;
}

.buttonLikeLink {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2.25rem;
  border: none;
  border-radius: var(--border-radius-regular);
  font-weight: var(--font-weight-medium);
  word-break: break-word;
  white-space: pre-wrap;

  &--regular {
    padding: .25rem .75rem;
    font-size: var(--font-size-100);
  }

  &--large {
    padding: .75rem 1.25rem;
    font-size: var(--font-size-200);
  }

  &--blue {
    background-color: var(--color-blue-500);
    color: var(--text-light);

    &:hover {
      background-color: var(--color-blue-600);
    }
  }

  &--light-blue {
    background-color: var(--color-blue-900);
    color: var(--color-blue-550);

    &:hover {
      background-color: var(--color-blue-800);
    }
  }
}