.navigationWrapper {
  z-index: 100;
  position: sticky;
  top: 0;
  transition: transform 350ms ease;

  &[data-css-is-open='true'] {
    z-index: 100;
    position: fixed;
    inset: 0;
    max-height: 100vh;

    @supports (max-height: 100dvh) {
      max-height: 100dvh;
    }
  }
}

.nav {
  position: relative;
}

.container {
  z-index: 100;
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: var(--main-bg-color);
}

.rightContainer {
  grid-column: 3;
  align-self: end;
}