.picture {
  padding: 0 2px 2px;

  @media (min-width: $laptop) {
    &--wide {
      max-width: 60%;
    }
  }
}

.img {
  width: 100%;
  object-fit: contain;
  height: auto;
  max-height: 100%;
  z-index: 2;

  &--wide {
    max-height: 285px;
    object-fit: cover;
    object-position: top left;
  }

  @media (max-width: $tablet) {
    max-height: 285px;
  }

  @media (max-width: $laptop) {
    max-height: 400px;
    object-fit: cover;
    object-position: top left;
  }

  @media (min-width: $laptop) {
    &--wide {
      margin-top: 1rem;
    }
  }
}