@use '../../styles/variables';

.container {
	position: relative;
}

.changeIconBtn {
	height: 1.75rem;
	width: 1.75rem;
	box-shadow: variables.$faded-white-700 0px 0px 0px 1px inset;
}

.pageTitleBtn {
	min-width: 0.5rem;
	max-width: 24rem;
	height: 2rem;
	color: variables.$faded-white;
}

.popup {
	position: absolute;
	top: 130%;
	max-width: calc(-24px + 100vw);
	color: variables.$faded-white;
	background: variables.$black-37;
	box-shadow: variables.$faded-black-200 0px 14px 28px -6px, variables.$faded-black-100 0px 2px 4px -1px,
		variables.$faded-white-700 0px 0px 0px 1px;
}

.contentEditable {
	width: 20vw;
	white-space: pre-wrap;
	word-break: break-word;
	font-size: 0.875rem;
	box-shadow: variables.$faded-white-700 0px 0px 0px 1px inset;
	background: variables.$faded-white-800;
}