.section {
  flex-direction: column;
  justify-content: center;

  @media (min-width: $laptop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.p {
  text-align: center;
  color: var(--text-light-200);

  font: var(--font-weight-regular) var(--font-size-100) / var(--line-height-100) var(--font-family-sans);
  letter-spacing: var(--letter-spacing-100);

  @media (min-width: $laptop) {
    text-align: left;
    min-width: 20ch;
  }
}

.imagesWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  width: 100%;
  max-width: 360px;

  @media (min-width: $tablet) {
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 100%;
  }
}

.imgWrapper {
  max-width: 96px;
}

.headspace {
  display: none;

  @media (min-width: $laptop) {
    display: block;
  }
}

.perplexity, .vercel {
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}