.feature {
  --feature-gap: 0;
  --feature-border-radius: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--feature-gap);
  border-radius: var(--feature-border-radius);

  &--blue {
    background-color: var(--color-blue-100);
  }

  &--red {
    background-color: var(--color-red-100);
  }

  &--yellow {
    background-color: var(--color-yellow-100);
  }

  &--gray {
    background-color: var(--color-gray-100);
  }

  &--teal {
    background-color: var(--color-teal-100);
  }

  @media (min-width: $laptop) {
    --feature-gap: 1rem;
    --feature-border-radius: 1rem;

    &--wide {
      flex-direction: row;
      min-height: 280px;
    }

    &:not(:nth-child(3)) {
      grid-column: span 1;
    }

    &:nth-child(3) {
      grid-column: span 2;
    }
  }
}

@media (pointer: fine) and (prefers-reduced-motion: no-preference) {
  .feature:focus-within .animationWrapper, .feature:hover .animationWrapper {
    opacity: 1;
    transform: translateY(0);
  }
}

.link {
  z-index: 4;
  position: absolute;
  inset: 0;
  font-size: 0;
  color: #0000;

  &:focus-within:after, &:hover:after {
    opacity: 1;
  }

  &:focus {
    outline: none;
  }

  &:after {
    z-index: 3;
    position: absolute;
    inset: 0;
    border: 2px solid #00000026;
    border-radius: var(--feature-border-radius);
    content: "";
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;
  }

  &--blue::after {
    border-color: var(--color-blue-200);
  }

  &--red::after {
    border-color: var(--color-red-200);
  }

  &--yellow::after {
    border-color: var(--color-yellow-200);
  }

  &--gray::after {
    border-color: var(--color-gray-200);
  }

  &--teal::after {
    border-color: var(--color-teal-200);
  }
}