@use '../../../../styles/variables';

.link {
	font-weight: 500;
	color: variables.$gray;

	&[data-css-is-active='true'] {
		background: variables.$faded-white-800;
		color: variables.$faded-white;
		font-weight: bold;
	}

	@media all and (min-width: variables.$breakpoint-tablet) {
		padding-left: 0.5rem;
	}
}