.list {
  margin: 0 0 36px;
  page-break-inside: avoid;
  break-inside: avoid;
}

.listLabel {
  font: var(--font-weight-semibold) var(--font-size-150) / var(--line-height-150) var(--font-family-sans);
  letter-spacing: var(--letter-spacing-150);
  color: var(--color-text-primary);
}