@use '../../../../../styles/variables.scss';

.closeNavigationBtn {
	&:hover svg {
		fill: variables.$faded-white;
	}

	svg {
		fill: variables.$faded-white-200;
	}

	svg {
		width: 1.375rem;
		height: 1.375rem;
	}
}

.createPageBtn {
	svg {
		fill: variables.$faded-white;
	}

	svg {
		width: 1.375rem;
		height: 1.375rem;
	}
}