.closeNavigationBtn {
	&:hover svg {
		fill: var(--faded-white-100);
	}

	svg {
		fill: var(--faded-white-200);
	}

	svg {
		width: 1.375rem;
		height: 1.375rem;
	}
}

.createPageBtn {
	svg {
		fill: var(--faded-white-100);
	}

	svg {
		width: 1.375rem;
		height: 1.375rem;
	}
}