.container {
  position: absolute;
  right: 100%;
  top: 10%;
  height: 100%;
  display: flex;
}


.button {
  cursor: grab;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  fill: rgba(255, 255, 255, 0.282);
}