.block__actions--container {
  position: absolute;
  right: 100%;
  top: 10%;
  display: flex;
  height: 100%;
  transition: all 200ms ease-in-out;
  opacity: 0;

  &--visible, &:hover, &:focus-within {
    opacity: 1;
  }
}


.block__actions--button {
  cursor: grab;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  fill: var(--faded-white-400);
}