.section {
  --hero-peek-height: 120px;
  --hero-padding: 32px 0;
  --homepage-hero-gap: 0px;
  --header-height: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--homepage-hero-gap);
  padding: var(--hero-padding);

  @media (min-width: $tablet) {
    --homepage-hero-gap: 16px;
  }

  @media (min-width: $laptop) {
    --homepage-hero-gap: 24px;
    --hero-padding: 48px 0;
    --hero-peek-height: 80px;
  }

  @media (min-width: $desktop) {
    --hero-padding: 64px 0;
  }

  @media screen and (min-width: $laptop) and (min-height: 720px) {
    min-height: 400px;
    height: calc(80vh - (var(--header-height) + var(--hero-peek-height)));
  }

  @media (min-width: $laptop) {
    flex-direction: row;
    max-height: 720px;
  }
}

.h1 {
  text-align: center;
  font: var(--font-weight-semibold) var(--font-size-700) / var(--line-height-700) var(--font-family-sans);

  @media (min-width: $tablet) {
    font: var(--font-weight-semibold) var(--font-size-800) / var(--line-height-800) var(--font-family-sans);
  }

  @media (min-width: $laptop) {
    text-align: left;
  }

  @media (min-width: $desktop) {
    font: var(--font-weight-semibold) var(--font-size-900) / var(--line-height-900) var(--font-family-sans);
  }
}

.h2 {
  --subheading-max-width: 450px;
  max-width: var(--subheading-max-width);
  font: var(--font-weight-medium) var(--font-size-200) / var(--line-height-200) var(--font-family-sans);
  text-align: center;

  @media (min-width: $laptop) {
    text-align: left;
  }

  @media (min-width: $desktop) {
    --subheading-max-width: 600px;
    font: var(--font-weight-medium) var(--font-size-400) / var(--line-height-400) var(--font-family-sans);
  }
}

.header {
  align-items: center;

  @media (min-width: $tablet) {
    min-width: 450px;
    max-width: 700px;
  }

  @media (min-width: $laptop) {
    align-items: flex-start;
  }
}

.mediaContainer {
  --hero-media-max-width: 100%;
  --image-top-offset: 0;
  order: -1;
  max-width: var(--hero-media-max-width);
  margin-top: var(--image-top-offset);

  @media (min-width: $tablet) {
    --hero-media-max-width: 75%;
  }

  @media (min-width: $laptop) {
    --image-top-offset: -64px;
    --hero-media-max-width: 100%;
    order: 0;
  }
}

.video {
  aspect-ratio: 1022 / 540;
  width: 100%;
  height: auto;
}

.link {
  flex-grow: 1;
  box-shadow: none;

  @media (min-width: $laptop) {
    flex-grow: 0;
  }
}

.nav {
  width: max-content;
  max-width: 100%;
}