@use '../../../../styles/variables';

.container {
	z-index: 1;
	border-radius: 1rem;
	box-shadow: variables.$faded-black-200 0px 1px 0px, transparent 0px 0px 0px;
	background: variables.$black-32;
	transition: box-shadow 300ms;
}

.userInitial {
	width: 1.25rem;
	height: 1.25rem;
	font-weight: 500;
	text-transform: uppercase;
	color: variables.$faded-white-200;
	background: variables.$faded-white-700;
}

.userNameBtn {
	font-size: 1rem;
	font-weight: 500;
	text-align: left;
	color: variables.$faded-white;

	svg {
		width: 1rem;
		height: 1rem;
		fill: variables.$faded-white-200;
	}

	@media all and (min-width: variables.$breakpoint-tablet) {
		font-size: 0.9rem;
	}
}