:root {
  --section-spacing: 96px;
  --tight-section-spacing: 16px;
}

.main {
  padding: 0 round(up, 7.22223%, .2rem);
  padding-bottom: 80px;
}

.mainContent {
  gap: var(--section-spacing);
  max-width: 1252px;
  margin: 0 auto;
}

.sections {
  gap: var(--tight-section-spacing);
}

@media (min-width: $tablet) {
  :root {
    --tight-section-spacing: 32px;
  }
}

@media (min-width: $laptop) {
  :root {
    --section-spacing: 128px;
  }
}

@media (min-width: $desktop) {
  :root {
    --section-spacing: 160px;
  }
}